// =================================
// Glaze Color Scheme
//
// This mixin should be optionally called to override
// the base JE colour palette variables with Glaze
// specific colours
//
// N.b. Variables defined inside this mixin need to be applied
// with !global to override its equivalent in the base palette
// (due to Sass scoping)
// =================================

@mixin applyScheme-glaze {

    $coral--lightest           : #fff0f0 !global;
    $coral--lighter            : #ffcfcf !global;
    $coral--light              : #f85656 !global;
    $coral--mid                : #d23737 !global;
    $coral--dark               : #b40e27 !global;
    $coral--darkest            : #870014 !global;

    // =================================
    // Color Scheme
    // =================================
    // These are the variables that should be used directly in our SCSS (globally)

    $color-secondary           : $coral--light !global;

    // Links
    $color-link-default        : $coral--mid !global;
    $color-link-visited        : $coral--dark !global;
    $color-link-hover          : $coral--dark !global;
    $color-link-active         : $coral--darkest !global;
}
