// =================================
// Menulog Color Scheme
//
// This mixin should be optionally called to override
// the base JE colour palette variables with Menulog
// specific colours
//
// N.b. Variables defined inside this mixin need to be applied
// with !global to override its equivalent in the base palette
// (due to Sass scoping)
// =================================

@mixin applyScheme-menulog {

    // Brand specific colours
    // NOT AA accessible but available for elements and backgrounds that don't need to be accessible
    $brand--orange                : #ff8000 !global;

    $green                        : #357d6e !global;

    $orange-largeText             : #f36d00 !global;
    $orange-largeText--dark       : #e96800 !global; // used for hover of base $orange-largeText
    $orange-largeText--darkest    : #cb5b00 !global; // used for focus/active of base $orange-largeText

    $orange-aa                    : #cd4900 !global;
    $orange-aa--dark              : #c44600 !global; // used for hover of base $orange-aa
    $orange-aa--darkest           : #ac3d00 !global; // used for focus/active of base $orange-aa

    $violet                       : #4950b9 !global;
    $violet--dark                 : #464cb1 !global; // used for hover of base $violet
    $violet--darkest              : #3d439b !global; // used for focus/active of base $violet
    $violet--offWhite             : #f1effb !global;
    $violet--offWhite--dark       : #e7e5f1 !global; // used for hover of base $violet--offWhite
    $violet--offWhite--darkest    : #cac8d2 !global; // used for hover of base $violet--offWhite

    $red--offWhite                   : #fff1df !global;
    $green--offWhite              : #edf9ef !global;
    $orange--offWhite             : #ffe6cc !global;
    $blue--offWhite               : #e5f8fb !global;
    $yellow--light                : #fff5cd !global;

    // =================================
    // Color Scheme
    // =================================
    // These are the variables that should be used directly in our SCSS (globally)

    $color-primary                : $orange-largeText !global;
    $color-secondary              : $violet !global;

    //Common colors
    $color-text--success          : $green !global;
    $color-text--danger           : $red !global;

    $color-bg--accept             : $green--offWhite !global;
    $color-bg--notification       : $yellow--light !global;
    $color-bg--info               : $green--offWhite !global;
    $color-bg--error              : $red--offWhite !global;

    // Links
    $color-link-default           : $violet !global;
    $color-link-visited           : $violet--dark !global;
    $color-link-hover             : $violet--dark !global;
    $color-link-active            : $violet--darkest !global;

    // Focus outline colour
    $color-focus-outline          : $orange-largeText !global;

    // Icons
    $icon-base--primary           : $grey--darkest !global;
}
