// =================================
// Color palette
// =================================
// Main brand colors – these should never be called directly, but assigned to more descriptive variables

$white                        : #fff;
$black                        : #000;

$red                          : #d50525;
$red--dark                    : #b40e27; // for hover of base $red
$red--darkest                 : #900b1f; // for focus/active of base $red
$red--offWhite                : #fee;

$yellow                       : #ffd700;
$yellow--light                : #fff1df;

$orange                       : #cd390c;
$orange--light                : #ff9e16;

$blue                         : #266abd;
$blue--dark                   : #14509c; // for hover of base $blue
$blue--darkest                : #14427d; // for focus/active of base $blue
$blue--light                  : #2bace4;
$blue--lighter                : #7dcaeb;
$blue--offWhite               : #edf5ff;

$green                        : #04822c;
$green--dark                  : #036823; // for hover of base $green
$green--darkest               : #02531c; // for focus/active of base $green
$green--offWhite              : #f2fae2;


// Greys – listed from lightest to darkest - these are the full range of greys we can use
$grey--offWhite               : #f5f5f5;
$grey--lightest               : #eaeaea;
$grey--lighter                : #cacaca;
$grey--light                  : #bbb;
$grey--mid                    : #757575;
$grey--dark                   : #535353;
$grey--darkest                : #333;


// Brand specific colours
// NOT fully AA accessibility compliant but available for text 18px font-size or for incidental background colours
// These colours were introduced as part of the slingshot UI updates
$brand--red                   : #f50028;
$brand--orange                : #f74c00;
$brand--blue                  : #279ed2;
$brand--pink                  : #f85656;
$brand--green                 : #00a33d;


// BTA Brand Colours - only to be used in-line with BTA colours
$purple                       : #3b1249;
$purple--light                : #ead9f0;


// =================================
// Color Scheme
// =================================
// These are the variables that should be used directly in our SCSS (globally)

$color-primary                : $red;
$color-secondary              : $blue;

// Common colors
$color-text                   : $grey--dark;
$color-text--hint             : $grey--mid;
$color-text--success          : $green;
$color-text--danger           : $red;
$color-text--warning          : $orange;
$color-headings               : $grey--darkest;
$color-headings--highlight    : $brand--red;  // only to be used at large font sizes (for AA)

$color-bg                     : $grey--offWhite;
$color-bg--component          : $white;
$color-bg--accept             : $green--offWhite;
$color-bg--notification       : $yellow--light;
$color-bg--info               : $blue--offWhite;
$color-bg--error              : $red--offWhite;

$color-border                 : $grey--lightest;
$color-border--interactive    : $grey--lighter;
$color-disabled               : $grey--lighter;
$color-shadow                 : $grey--lightest;

$color-btas-primary           : $purple;
$color-btas-bg                : $purple--light;

// Links
$color-link-default           : $blue;
$color-link-hover             : $blue--dark;
$color-link-active            : $blue--darkest;
// $color-link-visited           : $color-link-default; // should we use this?

// Focus outline colour
$color-focus-outline          : $orange--light;

// Text Selection – currently defined as brower default
$color-selection              : inherit;
$color-selection-bg           : inherit;

// <hr> border color
$hr-color                     : $grey--lightest;

// Brand ray colors

$brand-rays--blue             : #2f7de1;
$brand-rays--blue-light       : $blue--light;
$brand-rays--orange           : #ff5000;
$brand-rays--green            : #00ac41;

// =================================
// Wallpapers 
// ---
// Wallpaper colors are used for the background colour for 
// when an elm has overlaying a icon wallpaper
// =================================

$wallpaper-blue               : $brand-rays--blue;
$wallpaper-blue--light        : $brand-rays--blue-light;
$wallpaper-red                : #f32424;
$wallpaper-orange             : $brand-rays--orange;
$wallpaper-green              : $brand-rays--green;
$wallpaper-green--light       : #98c926;


// import colour palette mixin for Menulog overrides
@import 'menulog';
